*.swp
*~

dot/vim/.netrwhist
dot/vim/bundle
dot/vim/cache
dot/vim/session*
dot/vim/undo

dot/ghc/ghci_history

dot/config/fish/fishd.*
dot/config/fish/fish_history
dot/config/fish/local-config.fish
dot/config/fish/fish_variables

dot/config/fish/functions/local
dot/config/fish/functions/fzf_key_bindings.fish

dot/fonts/.uuid

dot/tmux/plugins/*
