autosnippet =section
	-----------------------------------------------------------------
	-- $1
	-----------------------------------------------------------------

autosnippet =lfunc
	local function $1( $2 )
	  $0
	end
	

autosnippet =mfunc
	function M.$1( $2 )
	  $0
	end
	
autosnippet =module
	-----------------------------------------------------------------
	-- $1
	-----------------------------------------------------------------
	local M = {}
	
	-----------------------------------------------------------------
	-- Imports.
	-----------------------------------------------------------------
	$2
	
	-----------------------------------------------------------------
	-- Aliases.
	-----------------------------------------------------------------
	$3
	
	-----------------------------------------------------------------
	-- Implementation.
	-----------------------------------------------------------------
	$0
	
	-----------------------------------------------------------------
	-- Finished.
	-----------------------------------------------------------------
	return M
